*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wine-heroSection{
    background-image: url('../assets/Images/WinebarHeroimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    color: #85847f;
}